<nav
  class="navbar navbar-expand-lg bg-dark fs-5"
  data-bs-theme="dark"
  style="min-height: 10vh;"
>
  <div class="container-fluid gap-5">
    <a
      class="navbar-brand fs-3 d-flex justify-content-between align-items-center"
      href="/"
    >
      <img
        src="/assets/logo.png"
        alt="Logo"
        width="50"
        height="50"
        class="d-inline-block align-text-top"
      />
      Hutt Commerce
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart/65725190328f701a6a911a20">Carrito</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Practicas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/products/realtimeproducts">Carga
                Websockets</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a
                class="dropdown-item"
                href="https://github.com/totoargumedo/NODE-CH-47345"
              >GitHub Repo</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>